                                                                                            /*PRINCIPAL*/
@font-face {
    font-family: ENVIO;
    src: url(../SITE/FONTES/FredokaOne-Regular.ttf) format(truetype);
    font-weight: bold;
}

div.corpo {
    flex-direction: row;
    padding: 10px 0px 0px 0px;
}
img.fundo{
    margin: 0px;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 101vw;
    
}
                                                                                            /*CORPO*/

h1#ult {
    position: absolute;
    display: inline-block;
    padding-top: clamp(1rem, 10vw, 5rem);
    left: clamp(1rem, 20vw, 20rem);
}

h1#prox {
    position: absolute;
    display: inline-block;
    padding-top: clamp(1rem, 10vw, 5rem);
    left: clamp(60vw, 21rem, 15rem);
}

h1#prox, h1#ult {
    position: none;
    top: 90px;
    color: #ffffff;
    font-family: 'ENVIO';
    font-size: 2.5vw;
}
