                                                                                            /*PRINCIPAL*/
@font-face {
    font-family: ENVIO;
    src: url(../SITE/FONTES/FredokaOne-Regular.ttf) format(truetype);
    font-weight: bold;
}


body.fundo_index{
    background-image: url('../SITE/POSSIVEIS_MODELOS/FUNDO2.png');
    background-position-y: 70%;
    background-size: 120%;
}
                                                                                            /*CORPO*/

h1#ult {
    right: 130px;
}


h1#prox {
    left: 100px;
}

h1#prox, h1#ult {
    position: absolute;
    top: 90px;
    color: #ffffff;
    font-family: 'ENVIO';
    font-size: 50px;
}
